body{
	background-image:url(colorido.jpg);
text-align:center;
}
h1{
	background-color:pink;
	font-style: italic;
	font-size: 30px;
	color:purple;

}
h2{
	background-color: purple;
	text-align: right;
	color:black;
	font-family:cursive;
}
h3{
	background-color: grey;
	text-align: right;
	color:pink;
	font-family:cursive;
}
p{
	color:purple;
	font-style:italic;
	background-color:purple;
	font-weight:bold;
	font-size:23px;

}
a{
	background-color:pink;
	text-align:right;
	text-decoration: none;

}
